################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Snake/Snake/bin/Debug
/Snake/Snake/obj/Debug
/Snake/.vs/Snake/v15/Server/sqlite3
/Snake/.vs/Snake/v15/.suo
